@page "/tetris"
@rendermode InteractiveServer
@using BlazorTetris.Components.Tetris

<div class="tetris">
	<PageTitle>Tetris Game</PageTitle>
	<div class="board">
		<TetrisBoard />
	</div>
</div>

@code {

}
