@page "/tetris"
@rendermode InteractiveServer
@using BlazorTetris.Components.Tetris
@using BlazorTetris.Components.GameUI
@using BlazorTetris.Tetris

<PageTitle>Tetris Game</PageTitle>
<div class="tetris">
	<div class="frame">
		<div class="board">
			<MainMenu/>
		</div>
	</div>
</div>